---
layout: default
title: about
---


.bodycontent
        .container
                %form
                        %input{:placeholder => "How can we help?", :required => "", :type => "text"}/
                        %input{:type => "button", :value => "Search"}/

