---
# Layouts must stay in HTML
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{% asset_path application.css %}">
  </head>
  <body>
  <!-- There has got to be a better way for me to implement this. -->
    {% include header.html %}
      <div class='article-container'>
        <div class='hb-breadcrumb'> Breadcrumb > Breadcrumbs > Breadcrumbs
        </div>
        <div class="article-search">
          <form>
            <input placeholder='How can we help?' required=' type='text'>
            <input type='button' value='Search'>
          </form>
        </div>
      </div>
      <div class='body-container'>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
