---
# Layouts must stay in HTML
---
<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{% asset_path application.css %}">
  </head>
  <body>
  <!-- There has got to be a better way for me to implement this. -->
      {% include header.html %}
          <div class='hb-body-container'>
            <div class="hb-form">
              <form>
                <div id="search">
                  <form action="/search" method="get">
                    <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
                    <input class='searchbutton' type='submit' value='Search' formaction="/search" >
                  </form>
                </div>
              </form>
              <section id="search-results" style="display: none;">
                <p>Search results</p>
                <div class="entries">
                </div>
              </section>
            </div>
          {{ content }}
        </div>
      {% include footer.html %}
  </body>
</html>
