body {
  @include background(#ffffff);
  height: 100%;
  color: #5d5d5D;
  font: 15px/1.4 helvetica,arial,freesans,clean,sans-serif;
  a:link, a:visited {
    color: #4183c4;
    text-decoration: none;
  }
}

.hb-body-container {
  margin-left: auto;
  margin-right: auto;
  width: 945px;
  min-height: 80vh;

  h4 {
    color: #666;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin: 15px 0 10px;
    font-weight: 700;
    font-size: 15px;
    a:visited {
        color: #666;
      }
  }
}

.hb-catagories  {
  background-color: #ffffff;
}

.hb-article-links {
  vertical-align: baseline;
  padding: 0px;
  margin: 0px;

  ul {
  }

  li {
    padding: 0px;
    margin-bottom: 5px;
    list-style: none;
  }
    
  a:link, a:visited {
    color: #4183c4;
    text-decoration: none;
    background: url(/images/li-chevron.png) 0 5px no-repeat;
    padding-left: 10px;
    font: 400 15px/1.3 helvetica,arial,freesans,clean,sans-serif; 
    display: block;
  }

  a:hover {
    background-position: 2px 5px;
  }
}

.hb-header-container {
  background-color: #391b65;
  margin-left: auto;
  margin-right: auto;
  width: 945px;
}    

header {
  background-color: #391b65;
  height: 60px;
  width: 100%;
  margin: 0px;
  padding: 18px;
}

.hb-header-logo {
  float: left;
}

.hb-header-content {
  float: right;
  padding: 0px;
  
  a:link, a:visited {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
  }
}

footer {
    background-color: #eeeeee;
    border-top: 1px solid #bbbbbb;
    height: 90px;
    width: 100%;

  .hb-container {
    margin-left: auto;
    margin-right: auto;
    color: #898989;
    font-size: 14px;
    width: 945px;
  }

  .left {
    float: left;
    text-align: right;
  }
  
  .right {
    float: right;
    overflow: hidden;
    margin-right: 10px;
    list-style-type: none;
    @include display(flex);
    
    li {
      padding: 3px;
    }
  }

  .hu {
    opacity: .50;
    margin: 20px;
    position: absolute;
    left: 50%;
  }
}

.hb-form {
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
}

.search {
  width: 500px;
  padding:3px 5px;
}

.search-button {
  padding: 3px 10px;
  color: black;
}
