body {
  @include background(#ffffff);
  color: #777777;
}

.bodycontent {
  height: 80vh;
  background-color: #ffffff;
}

.bodycontainer {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 945px;
}

.headercontainer {
  background-color: #391b65;
  margin-left: auto;
  margin-right: auto;
  width: 945px;
}    

header {
  background-color: #391b65;
  height: 60px;
  width: 100%;
  margin: 0px;
  padding: 18px;
}

.headerlogo {
  @include span-columns(7);
}

.headercontent {
  @include span-columns(5);
  @include word-wrap;
  padding: 3px;
  
  a:link, a:visited {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  padding: 5px;
  }
}

footer {
  background-color: #eeeeee;
  @include border-style(solid null null);
  @include border-width(1px null null);
  @include border-color(#bbbbbb null null);
  height: 90px;
  width: 100%;
  margin: 0px;
}

.footercontent {
  margin-left: auto;
  margin-right: auto;
  background-color: #301b65;
  color: #ffffff;
        }

.hb-form {
  margin:60px;
  margin-left: 150px;
  margin-right: 150px;
      }

.search {
  width: 500px;
  padding:3px 5px;
        }

.searchbutton {
  padding: 3px 10px;
  color: black;
        }

.searchbutton:hover  {
               } 

.hb-catagories  {
  background-color: #ffffff;
}

.hb-titles {
  ul {
    padding: 0;
    }
  li {
      background-color: white;
      padding: 0px;
      margin-left: -20px;
    }
    a:link, a:visited {
      color: #4183c4;
      text-decoration: none;
    }
}

h4 {
  @include border-style(null null solid);
  @include directional-property(border, width, null null 1px null);
  @include padding(null null 5px null);
}
