.hb-breadcrumb-container {
  @include border-style(null null solid);
  @include directional-property(border, width, null null 1px null);
  margin-left: auto;
  margin-right: auto;
  width: 945px;
  height: 70px;
}


.hb-breadcrumb {
  float: left;
  padding-top: 30px;
  color: #999;
  font-weight: 700;
  font-size: 12px;
  margin: 11px 0;
  white-space: nowrap;
}

.hb-article-search {
  float: right;
  padding-top: 38px;
}

.hb-article-content {
  width: 80%;
  h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    color: #333;
  }
  ol {
    counter-reset: li;
    list-style: none;
    position: relative;
    padding-bottom: 10px;

    li {
      padding: 5px 0 5px 55px;
      position: relative;
      margin-bottom: 5px;

      p {
        color: #333;
      }

      img {
        z-index: 100;
        max-width: 100px;
        opacity: .8;
        border: 1px solid #efefef;
        float: right;
        cursor: pointer;
        &:hover {
          z-index: 200;
          position: absolute;
          right: 0px;
          top: 0px;
          opacity: 1;
          max-width: 75%;
          border: 1px solid #000000;
        }
      }
    }
    li::before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30px;
      padding: 0 10px 0 0;
      color: #aaaaaa;
      font-size: 22px;
      font-weight: 700;
      line-height: 35px;
      text-align: right;
      border-right: 1px solid #ddd;
    }

    li::after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
}

.alert.tip {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  font-size: 12px;
  color: #264c72;
  border: 1px solid #97c1da;
  border-radius: 3px;
  background-color: #d8ebf8;
  background: -moz-linear-gradient(#d8ebf8,#d0e3ef);
  background: -webkit-linear-gradient(#d8ebf8,#d0e3ef);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')";
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  text-shadow: 0 1px 0 rgba(255,255,255,.8);

  img {
  }
}

.hb-reference {
  min-height: 125px;
  h2 {
    color: #63598e;
    border-bottom: 1px solid #5d5d5d;
  }
}
