---
layout: default
---

.bodycontent
	.container
		%form
			%input{:placeholder => "How can we help?", :required => "", :type => "text"}/
			%input{:type => "button", :value => "Search"}/
		%ul#catagories
			%li
			%a{:href => "pages/about.html"} Activity dashboard
			%li
			%a{:href => "pages/comand-line utilities.html"} Command-line utilities
			%li
			%a{:href => "pages/site admin dashboard.html"} Site admin dashboard
			%li
			%a{:href => "rebuilding contributions.html"} Rebuilding contributions data
